body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/*#container {*/
/*    display: flex;*/
/*    width: 50%;*/
/*    height: 50%;*/
/*}*/
/*#collapseExample {*/
/*    width: 50%;*/
/*    height: 30%;*/
/*    background:aliceblue ;*/
/*}*/

/*#menu {*/
/*    display: flex;*/
/*    flex-direction: column-reverse;*/
/*    flex-grow: 1;*/
/*    background-color: darkseagreen;*/
/*}*/

/*#visual {*/
/*    !*display: flex;*!*/
/*    flex-grow: 2;*/
/*    background-color: green;*/
/*}*/

/*#canvas {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/